
.ChestReel {
  // height: 278px;
  z-index: 0;
  &.layout-horizontal {

    .inner-content {
      height: 100%;
    }
  }

  &.layout-vertical {

    &:not(:first-child) {
      border-left: 2px solid var(--black-hover-color);
    }

    .inner-content {
      flex-direction: column;
      width: 100%;
    }
  }
}