
.DropdownItem {  
  width: 100%;
  align-items: center;
  padding: 16px 16px;
  gap: 12px;
  background: var(--brown-4-color);
  
  &:not(:first-child){
   
    position: relative;
    &::before {
      content: '';
      display: block;
      width: calc(100% - 32px);
      height: 1px;
      background: var(--dark-brown-hover-color);
      position: absolute;
      top: 0;
      left: 16px;
    }
  }

  .label {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
  }
  
  .icon,
  .label {
    color: var(--dark-sand-color);
  }

  &:hover {  
    cursor: pointer;
    .label {
      color: var(--light-sand-color);
    }

    .icon.left {
      color: var(--light-sand-color);
    }
  }

  &.active {
    .label {
      color: var(--sand-color);
    }
    .icon.left {
      color: var(--sand-color);
    }
  }

  &.lg {

    padding: 16px 24px;

    .label {
      font-size: 16px;
    }
  }
  
}