
.Dropdown {

  .error-text {
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    left: 0;
    bottom: -24px;
    text-align: left;
    color: var(--error-red-color);
  }

  &.disabled {
    .dropdown-button-ctn {
      cursor: not-allowed;
    
      >* {
        pointer-events: none;
      }
    }
  }

  &.error {
    .DropdownButton {
      border: 1px solid var(--red-color);
    }
  }
}