
.MinesPage .MinesHistoryCard {
  
  background-color: rgba(var(--light-sand-rgb-color), 0.1);
  padding: 6px 12px;

  .Span {

    color: var(--light-sand-color);
  }

  &.win {

    background-color: var(--bright-green-color);

    .Span {

      color: var(--dark-brown-color);
    }
  }
}