
.Link {
  font-size: 14px;
  font-weight: 500;
  color: var(--sand-color);
  text-decoration: none;
  line-height: 20px;

  &._hover:hover {
    text-decoration: none;
  }

  &.active {
    
    .Span, .Vector  {
      color: var(--sand-color);
    }
  }
}