
.DoublePage .BetBoardButton {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .label, .icon {
    color: var(--dark-brown-color);
  }

  &.green {
    
    background: var(--bright-green-color);
    &:hover:not(:disabled) {
      background: linear-gradient(0deg, #217c43 0%, #33a15c 100%);
    }
  }

  &.bait {
    
    background: var(--sand-color);
    &:hover:not(:disabled) {
      background: var(--sand-hover-color);
    }
  }
  
  &.red {
    
    background: var(--double-red-color);

    // &:hover:not(:disabled) {
     
    // }
  }
  
  &.black {
    
    background: var(--dark-brown-active-color);    
    
    .label, .icon {
      color: var(--light-sand-color);
    }
    
    // &:hover:not(:disabled) {
      
    // }
  }
}