
.DoublePage .DoubleViewOverlay {
  animation: DoubleViewOverlay-fade-in 0.5s ease-in;
  .background {
    
    // background: rgba(var(--dark-brown-rgb-color), 90);  
    background: rgba(var(--dark-brown-rgb-color), 0.9);
    position: absolute;
    width: 100%;
    height: 100%;    
  }
}

.DoublePage .DoubleTimerOverlay {

  background: rgba(var(--dark-brown-rgb-color), 0.8);
}


@keyframes DoubleViewOverlay-fade-in {
  0% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}