
.DoublePage .DoubleBetIcon {

  .label, .icon {
    color: var(--dark-brown-color);
  }

  &.green {
    background: var(--bright-green-color);
  }

  &.bait {
   background-color: var(--sand-color);
  }
  
  &.red {
    background:var(--double-red-color); 
  }
  
  &.black {
    background: var(--dark-brown-active-color);
    .label, .icon {
      color: var(--light-sand-color);
    }
  }
}