
.DoublePage .DoubleBetIcon {

  &.green {
    background: rgba(89, 207, 136, 1);
    border: 1px solid #217c43;

    .label {
      color: var(--white-color);
    }
  }

  &.bait {
    background: rgba(241, 233, 160, 1);
    border: 1px solid #5584bd;
    
    .label {
      color: var(--white-color);
    }
  }
  
  &.red {
    background:rgba(255, 254, 252, 1);
    border: 1px solid #9e8569;
    
    .label {
      color: var(--white-color);
    }
  }
  
  &.black {
    background: rgba(199, 197, 189, 1);
    border: 1px solid #404453;
    
    .label {
      color: var(--white-color);
    }
  }
}