
.DoublePage .DoubleView {

  .arrow {
    position: absolute;
    pointer-events: none;
    z-index: 1;
  }

  .arrow-top {
    left: 0;
    right: 0;
    top: -9px;
    transform: rotate(90deg);
  }

  .arrow-bottom {
    left: 0;
    right: 0;
    bottom: -9px;
    transform: rotate(270deg);
  }
}