
.DoublePage .DoubleReelCard {
  width: 100px;
  height: 100px;

  border-left: 4px solid rgba(var(--dark-brown-rgb-color),0.9);
  border-right: 4px solid rgba(var(--dark-brown-rgb-color), 0.9);

  .label, .icon {
    color: var(--dark-brown-color);
  }

  &.green {
    background: var(--bright-green-color);
  }
  
  &.red {
    background:var(--double-red-color); 
  }
  
  &.black {
    background: var(--dark-brown-active-color);
    .label, .icon {
      color: var(--light-sand-color);
    }
  }
}