
build/
node_modules/
.env
.env.development
.env.staging
.env.production
**/src/input/
**/src/output/
*storybook.log
*.DS_Store
*.pem

# rollup
.rollup.cache

# turborepo
.turbo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests-examples/
playwright.config.ts
playwright/.auth
tests
playwright.config.ts
coverage/