
.AppMenuOverlay {
  top: 64px;
  height: calc(100% - 128px);
  z-index: 15;
  background: rgba(16, 16, 16, 0.9);
  backdrop-filter: blur(2px);
  
  .inner-content {
    max-width: 240px;
    animation: AppMenuOverlay-slide-right 0.2s ease-in;
  }

  .nav-item.tactive, 
  .nav-item:hover {
    
    .label {
      color: var(--white-color);
    }

    .icon {
      color: var(--yellow-color);
    }
  }
}

@keyframes AppMenuOverlay-slide-right {
  0% { 
    transform: translateX(-100%); 
  }
  100% { 
    transform: translateX(0%);
  }
}