
.AppMenu {
  --menu-width: 232px;
  --menu-collapsed-width: 64px;
  z-index: 12;

  .menu-list {    
    padding: 1rem 0;
    height: 100%;
  }

  &.closed {  
    width: var(--menu-collapsed-width);
    min-width: var(--menu-collapsed-width);
  
    .fade-content {
      opacity: 0;
    }
  
    &.animate {  
      animation: AppMenu-close 0.25s ease-in;
    }
  }
  
  &.opened {
    width: var(--menu-width);
    min-width: var(--menu-width);
  
    .fade-content {
      opacity: 1;
    }
  
    &.animate {
      animation: AppMenu-open 0.25s ease-in;
    
      .fade-content {
        animation: AppMenu-content-fade-in 0.25s ease-in;
      }
    }
  }
}

@keyframes AppMenu-open {
  0% { 
    width: var(--menu-collapsed-width);
    min-width: var(--menu-collapsed-width);
  }
  100% { 
    width: var(--menu-width); 
    min-width: var(--menu-width); 
  }
}

@keyframes AppMenu-close {
  0% { 
    min-width: var(--menu-width); 
  }
  100% {    
    min-width: var(--menu-collapsed-width);
  }
}

@keyframes AppMenu-content-fade-in {
  0% { 
    opacity: 0%; 
  }
  50% { 
    opacity: 0%; 
  }
  100% { 
    opacity: 100%; 
  }
}