
.ItemBox {
  // background-color: var(--brown-6-color);

  &.rarity-0 {
    
    border-bottom: 4px solid var(--orange-color);
  }
  &.rarity-1 {
   
    border-bottom: 4px solid var(--dark-green-color);
  }
  &.rarity-2 {
   
    border-bottom: 4px solid var(--dark-yellow-color);
  }
  &.rarity-3 {
    
    border-bottom: 4px solid var(--dark-red-color);
  }
  &.rarity-4 {
    
    border-bottom: 4px solid var(--dark-sand-color);
  }
  &.rarity-5 {
    
    border-bottom: 4px solid var(--dark-blue-color);
  }
  &.rarity-6 {
   
    border-bottom: 4px solid var(--bright-green-color);
  }
  &.rarity-7 {
    
    border-bottom: 4px solid var(--sand-color);
    // background-image: linear-gradient(to bottom, var(--rarity-7-color-a1), var(--rarity-7-color-a2));
  }
}