
.ItemCard {
  &:hover {

    .Img {
      transform: scale(1.1);
    }

    cursor: pointer;
    transform: translateY(-3px);
    border-left: 1px solid;
    border-right: 1px solid;
    border-image-slice: 1;
    border-image-repeat: stretch;
    
    &.rarity-0 {
      background-image: linear-gradient(to bottom, var(--rarity-0-color-a2), var(--rarity-0-color-a2));
    }
    &.rarity-1 {
      background-image: linear-gradient(to bottom, var(--rarity-1-color-a2), var(--rarity-1-color-a2));
    }
    &.rarity-2 {
      background-image: linear-gradient(to bottom, var(--rarity-2-color-a2), var(--rarity-2-color-a2));
    }
    &.rarity-3 {
      background-image: linear-gradient(to bottom, var(--rarity-3-color-a2), var(--rarity-3-color-a2));
    }
    &.rarity-4 {
      background-image: linear-gradient(to bottom, var(--rarity-4-color-a2), var(--rarity-4-color-a2));
    }
    &.rarity-5 {
      background-image: linear-gradient(to bottom, var(--rarity-5-color-a2), var(--rarity-5-color-a2));
    }
    &.rarity-6 {
      background-image: linear-gradient(to bottom, var(--rarity-6-color-a2), var(--rarity-6-color-a2));
    }
    &.rarity-7 {
      border-image-source: linear-gradient(180deg, var(--brown-6-color) 0.01%, var(--sand-color) 100%);
    }
  }
}