@use "sass:math";
@use "./BlackjackChipPlacements.scss";
$gap: BlackjackChipPlacements.$gap;

$yellow1: #FEC84B;
$yellow2: #FDB022;
$yellow3: #f9fd22;

$smallSize: 19%;
$largeSize: 24%;
$equalSize: 20%;

$halfSmall: math.div($smallSize, 2);

$topOffsetClose: -30px;
$topOffsetFar: -100px;

$leftOffsetClose: 24%;
$leftOffsetFar: 10%;


.BlackjackPlacement {
	position: relative;
	width: $smallSize;
	// height: $smallSize;
	padding: 0 0.5%;
	box-sizing: border-box;

	&.large {
		width: $largeSize;
		// height: $largeSize;
	}
	&.transparent .chip-stack {
		// opacity: 0.3;
	}

	.Placement_inner {
		position: relative;
		aspect-ratio: 1;
		// aspect-ratio: 1.4;
		width: 100%;
	}

	&:nth-of-type(1) {
		left: 50% - math.div($largeSize, 2);
		z-index: 10;
	}
	&:nth-of-type(2) {
		$centerX: 50% - $largeSize;
		$x: $centerX - $leftOffsetClose - $halfSmall;
		left: $x;
		top: $topOffsetClose;
	}
	&:nth-of-type(3) {
		$centerX: 50% - $largeSize - ($smallSize * 1);
		$x: $centerX - $leftOffsetFar - $halfSmall;
		left: $x;
		top: $topOffsetFar;
	}
	&:nth-of-type(4) {
		$centerX: 50% - $largeSize - ($smallSize * 2);
		$x: $centerX + $leftOffsetFar - $halfSmall;
		left: $x;
		top: $topOffsetFar;
	}
	&:nth-of-type(5) {
		$centerX: 50% - $largeSize - ($smallSize * 3);
		$x: $centerX + $leftOffsetClose - $halfSmall;
		left: $x;
		top: $topOffsetClose;
	}

	.circle {
		position: absolute;
		top: 0;
		left: 0;
	}
	.circle, .circle-outer, .circle-inner {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border-radius: 100%;
	}
	.circle-outer {
		position: relative;
		background-color: rgba(#000, 0.2);
	}
	.circle-inner {
		position: absolute;
		left: 50%; top: 50%;
		width: 75%;
		height: 75%;
		transform: translate(-50%, -50%);
		background-color: rgba(#000, 0.2);
		// border: solid 2px rgba(#fff, 0.3);
		box-shadow: 0 0 5px rgba(#fff, 0.2);
	}
	.circle-outline {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%) scale(1);
		transform-origin: 50% 50%;
		width: 100%;
		height: 100%;
		border: solid 4px $yellow3;
		border-radius: 100%;
	}

	.chip-stack {
		position: absolute;
		top: 10%;
		left: 10%;
		width: 80%;
		height: 80%;
		transition: opacity 0.5s;
	}

}

.BlackjackInfo {
	position: absolute;
	text-align: center;
	// font: 400 0.8rem Verdana, Arial, sans-serif;
	font-size: 0.8rem;
	color: #fff;
	text-wrap: nowrap;
	user-select: none;
	display: flex;
	flex-direction: column;
	gap: 2px;

	&.center {
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);

		// for mobile
		transition: bottom 0.5s;
	}
	&.left {
		top: 50%;
		transform: translateY(-50%) translateX(-100%);
		// transform: translateY(-90%) translateX(-100%);
		left: -10px;
		text-align: right;
	}
	&.right {
		top: 50%;
		transform: translateY(-50%) translateX(100%);
		// transform: translateY(-90%) translateX(100%);
		right: -10px;
		text-align: left;
	}

	&.hidden {
		// might need more for <= IE11
		font-size: 0.7rem;
		pointer-events: none;

		.title {
			font-size: 0.60rem;
		}

		&.center {
			// overwrite
			bottom: -30px;
		}

		.HiddenInput {
			input, .hidden-text {
				font-size: 0.7rem;
			}
			svg {
				width: 12px;
				height: 12px;
				margin-right: 1px;
			}
		}
	}

	.title {
		color: #ffff;
	}
	&.visible .title {
		color: #fff7;
		font-size: 1.0rem;
		font-weight: 900;
		font-style: italic;
	}
}

// hover
.BlackjackPlacement {

	.Placement_inner {
		cursor: pointer;
		user-select: none;

	}

	.circle-inner {
		transition: background-color 1.0s;
	}
	.circle-outline {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
		transition: transform 0.5s, opacity 0.25s;
	}

	.Placement_inner:hover {
		.circle-inner {
			background-color: rgba($yellow3, 1.0);
			// transition-delay: 0.3s;
		}
		.circle-outline {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

$moveDelay: 0.25s; // copy paste from ChipPlacements
$moveTime: 0.5s;

// pre transition
.BlackjackPlacement {
	transition: left $moveTime, top $moveTime, width 0.5s;

	.circle {
		transition: transform 0.25s, opacity 0.25s;
		transition-delay: 0.5s;
	}
	// .circle-outline {
	// 	transition: opacity 0.1s;
	// 	opacity: 1;
	// 	transition-delay: 1.5s;
	// }

	// forgot why I did this twice
	// one might be for too-high switch, other for mobile shelf hide
	.chip-stack.transparent {
		transition: opacity 0.5s;
	}
}

// transition
.game-started .BlackjackPlacement {

	@for $i from 1 through 5 {
		&:nth-of-type(#{$i}) {
			// transform: translate(0, 0);
			top: 0;
			left: 0;
			transition-delay: $moveDelay;
		}
	}

	.chip-stack.transparent {
		opacity: 1;
	}

	&.no-chips {
		width: 0;
		&.large {
			width: 0;
		}

		.circle {
			transform: scale(0);
			opacity: 0;
			transition-delay: 0s;
		}
	}
}

// Info

.BlackjackInfo.visible {
	opacity: 1;
	transition: opacity 0.25s;
	transition-delay: 1s;
}
.game-started .BlackjackInfo.visible {
	opacity: 0;
	transition-delay: 0s;
}

.BlackjackInfo.hidden {
	opacity: 0;
	transition: opacity 0.25s;
}
.game-started .has-chips .BlackjackInfo.hidden {
	opacity: 1;
	transition-delay: 0.5s + $moveDelay;
}

.AppMain.tablet, .AppMain.mobile {

	.BlackjackPlacement .BlackjackInfo.visible {
		.title {
			font-size: 0.9rem;
		}
	}

	.game-not-started {
		.BlackjackPlacement:nth-of-type(2),
		.BlackjackPlacement:nth-of-type(5) {
			.BlackjackInfo {
				&.left, &.right {
					bottom: -25px;
					left: 50%;
					transform: translateX(-50%);
					top: auto;
					right: auto;
					text-align: center;

					.BlackjackHiddenInput {

						&.left, &.right {
							.currency-overlay {
								justify-content: center;
							}
							input {
								text-align: center;
							}
						}

					}
				}
			}
		}
	}

	.game-started .BlackjackPlacement {
		width: $equalSize;

		&.large {
			width: $equalSize;
		}

		&.no-chips {
			width: 0;
			&.large {
				width: 0;
			}
		}

		.BlackjackInfo.hidden {
			font-size: 0.6rem;

			&.center {
				bottom: -30px;
			}

			.BlackjackHiddenInput {
				input, .hidden-text {
					font-size: 0.6rem;
				}
				.currency-overlay svg {
					height: 10px;
					width: 10px;
					margin-right: 0;
					padding-top: 0;
				}
			}
		}
	}
}


.AppMain.mobile {

	.BlackjackPlacement .BlackjackInfo.visible {
		.title {
			font-size: 0.7rem;
		}

		&.left {
			left: -5px;
		}
		&.right {
			right: -5px;
		}

	}
}