
.BlackjackChipActions {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}


// pre transition
.BlackjackChipActions {
	transition: opacity 1.0s;
}

.BlackjackPage .game-not-started .BlackjackChipActions {
	opacity: 1;
}

// transition
.BlackjackPage .game-started .BlackjackChipActions {
	opacity: 0;
}