@use "sass:color";
@keyframes sidebet-slide {
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// hack to allow cards to be dealt
$delayAnim: 2s;

.BlackjackSidebetTotals {

	table {
		border-collapse: collapse;
	}

	.sidebet-payout {
		font-size: 0.9rem;
		font-weight: 500;
		letter-spacing: 0.02rem;
		gap: 4px;

		td {
			text-align: left;

			padding: 3px 5px 3px 0;
			// &:first-of-type {
			// 	text-align: right;
			// 	// opacity: 0.5;
			// }
		}


		svg {
			width: 13px;
			height: 13px;
		}
		span {
			display: inline-block;
			padding-top: 0;

			// for +
			&:first-of-type {

				padding-bottom: 1px;
			}
			// for amount
			&:last-of-type {
				padding-left: 3px;
			}
		}

		.sidebet-title {

		}
		.sidebet-mult {
			color: #fff;
		}
		.sidebet-amount {
			display: flex;
			align-items: center;
			gap: 2px;
			color: #FFDE50;
		}
	}

}

// anims
.BlackjackSidebetTotals {
	tr {
		opacity: 0;
		transform: translateX(-100%);
		animation: sidebet-slide 0.5s $delayAnim forwards;
	}
}

// $bgColor: #202330; //var(--gray-6-color);

@keyframes sidebet-mobile-slide-in-out {
	0% {
		opacity: 0;
		transform: translateX(-50%);
	}
	10% {
		opacity: 1;
		transform: translateX(0);
	}
	90% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(50%);
	}
}

.AppMain.tablet, .AppMain.mobile {
	.BlackjackSidebetTotals {
		position: absolute;
		top: 5%;
		left: 5%;

		table, tbody {
			display: block;
			width: auto;
		}
		tr.sidebet-payout {
			display: flex;
			gap: 0;
			align-items: center;
			margin-bottom: 5px;

			animation: sidebet-mobile-slide-in-out 4s $delayAnim forwards;
			@for $i from 1 through 5 {
				&:nth-of-type(#{$i}) {
					animation-delay: $i * 1s + $delayAnim;
				}
			}
		}
		td {
			display: block;
			// background: $bgColor;
			// padding: 10px 5px;
			// not sure what's going on here
			// some preset css somewhere is adding 1px to the height
			// height: 38px;

			// &:first-of-type {
			// 	padding-left: 15px;
			// 	border-top-left-radius: 3px;
			// 	border-bottom-left-radius: 3px;
			// }
			// &:last-of-type {
			// 	padding-right: 15px;
			// 	border-top-right-radius: 3px;
			// 	border-bottom-right-radius: 3px;
			// }
		}

		svg {
			// display: none;
			transform: translateY(2px);
		}

	}
}