.CrashChartContainer {

  padding: 25px 75px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% - 2px);
  left: 50.25%;
  width: 415px;
  height: 306px;
  min-height: 280px;
  min-width: 370px;
  overflow: hidden;
  z-index: 0;

  .AppBody.mobile & {
    min-height: 200px;
    min-width: auto;
  }
}