.CrashSimulator {

  position: absolute;
  left: 50px;
  bottom: 100px;
  min-width: 100px;
  height: 75px;

  .Multiplier {

    letter-spacing: -6px;
    font-size: 44px;
    line-height: 46px;
  }
}