
#chart-tooltip {
  font-size: 14px;
  color: var(--brown-4-color);
  background-color: var(--light-sand-color);
  max-width: 300px;
  text-align: center;
  border-radius: 0;
  opacity: 1;
  z-index: 1000;
}
