
.ChatFooter {

  .footer-buttons {

    .Button {
      height: 36px;
      padding: 0 10px;
      gap: 6px;

      .label {
        font-size: 13px;
      }
    }

    .DropdownButton {
      height: 36px;
      min-width: unset;
      padding: 0 10px;
      gap: 6px;

      .label {
        font-size: 13px;
      }
    }
  }

  .ChatModalBottom {

    .menu-outer {

      bottom: 20px;
      right: -72px;
    }
  }
  .ChatEmojiModalBottom {

    .menu-outer {

      bottom: 20px;
      right: -96px;
      height: 320px;
    }

    .Input {

      flex-shrink: 0;
    }
  }
}