
.AppMenuPanel .MenuItem {
  height: 48px;

  .Span {
    white-space: nowrap;
  }
  
  &:hover,
  &.active {
    background-color: var(--brown-5-color);
  
    .icon {
      color: var(--sand-color);
    }

    .label {
      color: var(--sand-color);
    }
  }
}

.OriginalGames {
  
  --menu-height: 500px;
  --menu-collapsed-height: 0;
  overflow: hidden;
  flex-shrink: 0;

  .MenuItem {

    flex-shrink: 0;
    padding-left: 12px;
  }

  &.closed {  
  
    &.animate {  
      animation: OriginalGames-close 0.3s ease-in forwards;
    }
    &:not(.animate) {
      max-height: var(--menu-collapsed-height);
      display: none;
    }
  }
  
  &.opened {
    
    &.animate {
      animation: OriginalGames-open 0.3s ease-in forwards;
    }
  }

  .AppBody.mobile & {
   
    &.closed {  
     
      &.animate {  
        animation: OriginalGames-close 0.3s ease-in forwards;
      }
    }
    
    &.opened {
      
      &.animate {
        animation: OriginalGames-open 0.3s ease-in forwards;
      }
    }
  }
}

@keyframes OriginalGames-open {
  0% { 
    max-height: var(--menu-collapsed-height);
  }
  100% { 
    max-height: var(--menu-height);
  }
}

@keyframes OriginalGames-close {
  0% { 
    max-height: var(--menu-height); 
  }
  100% {    
    max-height: var(--menu-collapsed-height);
    display: none;
  }
}