
.AppMenuPanel .MenuItem {
  height: 48px;
  border-left: 4px solid transparent;

  .Span {
    white-space: nowrap;
  }
  
  &:hover,
  &.active {
    border-left-color: var(--sand-color);
    background-color: var(--brown-5-color);
  
    .icon {
      color: var(--sand-color);
    }

    .label {
      color: var(--sand-color);
    }
  }
}

.OriginalGames {
  
  --menu-height: 100%;
  --menu-collapsed-height: 0px;
  overflow: hidden;

  max-height: var(--menu-collapsed-height);

  &.closed {  
    max-height: var(--menu-collapsed-height);
  
    &.animate {  
      animation: OriginalGames-close 0.3s ease-in forwards;
    }
  }
  
  &.opened {
    max-height: var(--menu-height);
    //height: var(--menu-height);
    
    &.animate {
      animation: OriginalGames-open 0.3s ease-in forwards;
    }
  }

  .AppBody.mobile & {
   
    &.closed {  
     
      &.animate {  
        animation: OriginalGames-close 0s ease-in forwards;
      }
    }
    
    &.opened {
      
      &.animate {
        animation: OriginalGames-open 0s ease-in forwards;
      }
    }
  }
}

@keyframes OriginalGames-open {
  0% { 
    max-height: var(--menu-collapsed-height);
  }
  100% { 
    max-height: var(--menu-height);
    overflow: visible;
  }
}

@keyframes OriginalGames-close {
  0% { 
    max-height: var(--menu-height); 
  }
  100% {    
    max-height: var(--menu-collapsed-height);
    display: none;
  }
}