
.HomePage .GameBanner {

  .AppMain.tablet & {
    width: calc((100% - 72px)/4);
  }
  .AppMain.laptop & {
    width: calc((100% - 96px)/5);
  }
  .AppMain.desktop & {
    width: calc((100% - 120px)/6);
  }
  
  flex-shrink: 0;

  .HeaderContent {

    width:calc(100% - 40px);
    bottom: 20px;
    left:20px;
    z-index: 10;
  }
}

.HomePage .GameBanner, .HomePage .FeatureGameBanner {

  .AppMain.mobile & {
    width: calc(50% - 10px);
  }

  img {
    transition: transform 0.5s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}