
.Table {

  .table-header, 
  .table-item {
    height: 56px;
    padding: 0;
    border-bottom: 1px solid var(--brown-4-color);
    flex-wrap: wrap;
  }

  .table-item:hover {
    background-color: var(--brown-8-color);
  }

  .table-header >*,
  .table-item >* {
    flex-basis: 0%;
  }
}