
.CaseBattlePlayerPage .BattleLogs {
  max-height: 385px;
  scroll-behavior: smooth;

  >*:not(:first-child) {
    border-left: 2px solid var(--brown-8-color);
  }

  &.players-2 >* {
    width: 50%;
  }
  &.players-3 >* {
    width: 33.333%;
  }
  &.players-4 >* {
    width: 25%;
  }

  .AppMain.mobile &,
  .AppMain.tablet & {
    max-height: 301px;
  }
}