
.ModalHeader {

  .nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--white-color);

    .label {
      color: var(--white-color);
    }
  }

  .nav-item.active {
    border-bottom: 2px solid var(--yellow-color);

    .label {
      color: var(--yellow-color);
    }
  }
}