.ChatMessageCard {
  
  &.system {

    position: relative;
    &::before {

      background: rgba(var(--sand-rgb-color), 0.1);
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  
  .rich-text {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  &:hover {
    cursor: pointer;
    background: var(--brown-7-color);
  }

  &.highlight {
    background: var(--chat-hover-color);
    
    &:hover {
      cursor: pointer;
      background:var(--chat-hover-color);
    }
  }
}