
.DicePage .DiceViewResult {
  padding: 0 44px;
  bottom: calc(50% + 24px);
  z-index: 1;

  .ctn {  
    left: 0;  
    bottom: 0;
    transition: left ease 250ms;
  }

  .inner {
    left: -50%;
  }

  .icon {
    transition: color ease 250ms;
    margin-top: -7px;
    color: rgba(var(--red-arrow-rgb-color), 0.8);
    
    &.won {
      color: rgba(var(--green-arrow-rgb-color), 0.8);
    }
  }

  .label {
    transition: color ease 250ms;
    background: rgba(var(--red-arrow-rgb-color), 0.8);
    
    &.won {
      background: rgba(var(--green-arrow-rgb-color), 0.8);
    }
  }
}