
.DicePage .DiceViewSlider {
  .rc-slider {
    height: 17px;
    padding: 0;
    border-radius: 0;
    border: 6px solid;
    border-color: rgba(var(--black-hover-rgb-color), 0.5);
  }
  
  .rc-slider-track {
    height: 6px;
  }

  .rc-slider-rail {
    height: 6px;
  }

  .rc-slider-handle {
    margin-top: -18px;
    background-color: unset;
    border: unset !important;
    border-radius: unset;
    box-shadow: unset !important;
  }
  
  .rc-slider-disabled {
    background-color: unset;
  }

  &.over {
    .rc-slider-track {
      background-color: #e9113c;
    }  
    .rc-slider-rail {
      background-color: #02c252;
    }    
  }

  &.under {
    .rc-slider-track {
      background-color: #02c252;
    }  
    .rc-slider-rail {
      background-color: #e9113c;
    }    
  }

  .AppBody.mobile & {
    
    .rc-slider {
      border-color: rgba(var(--black-hover-rgb-color), 0.7);
    }
  }
}