
.LoginModal {
  
  .modal-inner {
    padding: 0;
    width: unset;
    max-width: unset !important;
    overflow: hidden;
  }

  .login-banner {
    width: 369px;
    min-width: 369px;

    .overlay {
      background: linear-gradient(180deg, rgba(20, 22, 34, 0) 58%, var(--brown-8-color) 100%);
    }
  }

  .register-content {
    width: 450px;
    max-width: 450px;
    height: 728px;
  }

  .login-content {
    width: 450px;
    max-width: 450px;
    height: 518px;
  }

  .recover-content {
    width: 382px;
    max-width: 382px;
    // height: 332px;
  }

  .AppBody.mobile & {
    .modal-inner {
      width: 100%;
    }

    .login-content {
      width: 100%;
      max-width: unset;
      height: unset;
    }
  }
}