
.NoticeCard {
  padding: 12px;
  gap: 12px;
  // background: var(--brown-6-color);
  // border: var(--border);

  &.info {    
    border-left: 4px solid var(--light-sand-color);
    .icon {
      color: var(--light-sand-color);
    }
  }

  &.success {    
    border-left: 4px solid var(--bright-green-color);
    .icon {
      color: var(--bright-green-color);
    }
  }

  &.warning {    
    border-left: 4px solid var(--sand-color);
    .icon {
      color: var(--sand-color);
    }
  }

  &.error {    
    border-left: 4px solid var(--double-red-color);
    .icon {
      color: var(--double-red-color);
    }
  }
}